<mat-form-field appearance="outline">
  <mat-label>{{ label() }}</mat-label>

  @if(prefixIcon()) {
    <mat-icon matPrefix>{{ prefixIcon() }}</mat-icon>
  }

  <input
    matInput
    #inputRef
    [type]="type()"
    [placeholder]="placeholder()"
    [formControl]="control()"
    [appUppercase]="uppercase()"
  />

  <mat-error>
    @if(control().errors?.['required']) {
      Campo requerido
    }
    @if(control().errors?.['email']) {
      Correo electrónico inválido
    }
    @if(control().errors?.['pattern']) {
      Formato inválido, debe ser una URL válida
    }
  </mat-error>
  
</mat-form-field>
