<mat-card class="hero-card">
  <img mat-card-image [src]="hero.image" [alt]="hero.name">
  
  <mat-card-header>
    <mat-card-title>{{ hero.name }}</mat-card-title>
    <mat-card-subtitle>{{ hero.team }}</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-actions>
    <button mat-raised-button style="background-color: #007bff !important;
    color: white !important;" color="primary" (click)="onEdit()">
      Editar
    </button>
    <button mat-raised-button style="background-color: #ed1b1b !important;
    color: white !important;" color="primary" (click)="onDelete()">
      Eliminar
    </button>
    <button mat-raised-button color="primary" (click)="onView()">
       Ver
    </button>
  </mat-card-actions>
</mat-card> 