@use "@angular/material" as mat;

@include mat.core();

// Define the theme object.
$RIU-frontend-Matias-Soto-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($RIU-frontend-Matias-Soto-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 2rem;
  margin: 0;
  font-weight: 500;
}

h2 {
  font-size: 1.3rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.success-snackbar {
  background-color: #4caf50 !important;
}

.error-snackbar {
  background-color: #f44336 !important;
  color: white !important;
}

.success-snackbar .mat-simple-snackbar-action,
.error-snackbar .mat-simple-snackbar-action {
  color: white !important;
}
