<div class="dashboard-container">
    <h1>Superhéroes</h1>
    <div class="search-container">
        <form style="width: 100%;" [formGroup]="form">
            <app-text-input
                formControlName="name"
                label="Buscar superhéroe..."
                placeholder="Buscar superhéroe..."
            />
        </form>
        <button style="background-color: #007bff !important;
    color: white !important;" matTooltip="Agregar superhéroe" mat-fab color="primary" (click)="onAdd()" class="add-button">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <div class="heroes-grid">
        @for (hero of heroes(); track hero.id) {
            <app-card-hero
            [hero]="hero"
            (edit)="onEdit($event)"
            (delete)="onDelete($event)"
            (view)="onView($event)"
            />
        }
    </div>

    @if (heroes().length === 0) {
        <div class="no-results">
            <p>No se encontraron superhéroes</p>
        </div>
    }
  <app-paginator (pageChange)="onPageChange($event)" [totalHeroes]="totalHeroes()" [pageSize]="pageSize()" [currentPage]="currentPage()" />
</div>
